doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,700",rel="stylesheet")
    link(href="/style/main.css",rel="stylesheet")
    script(src="/script/main.js")
    title node-oauth-basic
  body